@import "tailwindcss";

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-Soft.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-Sharp.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-SharpBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-SharpItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-SharpBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: '80-kb';
  src: url('./assets/fonts/80-kb-Grunge.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: '80-kb', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes fillDown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
